*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    width: 100%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background: rgba(227, 213, 192, 0.569);
}
.head{
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 3vw;

}
.head a{
    text-decoration: none;
    color: aliceblue;
}
.selectiondiv{
    /* border: 1px solid black; */
    margin: 10px 0px;
}
.selectiondiv h4{
    /* border: 1px solid black; */
    margin: 10px 10px;
    font-size: 1.6vw;
}
.selectiondiv div{
    /* border: 1px solid black; */
    margin: 10px 0px;
}
.selectiondiv label{
    margin:10px;
    font-size: 1.6vw;
}
.selectiondiv select{
    width: 36%;
    height: 1.9vw;
    background: transparent;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 18px;
    font-size: 1.1vw;
}
.totalstu{
    /* border: 1px solid red; */
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 1.7vw;
}
.totalstu span{
    font-weight: 700;
    font-size: 1.8vw;
    color: rgb(9, 10, 10);
}
.overall{
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.overall h4{
    font-size: 1.5vw;
    margin: 10px 0px;
}
.o-tab{
    padding: 1px 5px;
    margin-bottom: 10px;
    text-align: center;
}
.o-tab table td{
    border: 1px solid black;
    padding: 4px;
}
.o-tab table th{
    border: 1px solid black;
    padding: 2px 12px;
    height: 3vw;
}
.o-tab table{
    margin-bottom: 10px;
}